::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }
* {margin: 0; padding: 0;} /* обнуляем отступы */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #888;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center; /* выравниваем все содержимое body по центру */
    background: #87CEEB; /* цвет фона для наглядности */
    width: 1000px;


    margin:0px auto;
}
#header {
width:1000px;
    height: 110px;
border: 1px solid black;
margin-bottom: 20px;
}


#logon{
    margin-top: 40px;
    margin-right: 35px;
    float: right;
}
ul.hr {

    padding: 4px; /* Значение полей */
    margin: 0;

}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 5px; /* Поля вокруг текста */
}


#content {
    margin-top: 132px;
    width:1000px;
    height: 1000px;
}

.form-row{
  clear: both;
  margin: 0 0 18px;
}

#container{
    margin: 10px;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}

#flat_add {
width:1000px;
text-align:justify;
padding: 0 0 0 55px;
}